body {
    background-image:url('./imgs/sl_031420_28950_10.jpg');
}

#perfil_picture {
    width: 150px;
    border-radius: 200px;
    padding: 10px 10px;
}

#name_title {
    text-align: center;
    font-size: 80px;
    color: rgb(228, 225, 225);
}

.apresentacao {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    color: rgb(228, 225, 225);
    background-color: rgba(228, 228, 228, 0.3);
    border-radius: 50px;
    height: 180px;
    padding: 20px 20px;
}

.tech_list {
    color: rgb(228, 225, 225);
}

.tech_container {
    display: flex;
    justify-content: space-around;
    color: rgb(228, 225, 225);
    background-color: rgba(228, 228, 228, 0.3);
    border-radius: 50px;
    margin-top: 20px;
    padding: 20px 20px;
}